.commom-list {
		border-bottom: 1px solid #eee;
		padding: 20upx;
	}

	.commom-list-l {
		flex-shrink: none;
		margin-right: 15upx;
	}

	.commom-list-l image {
		width: 90upx;
		height: 90upx;
		border-radius: 100%;
	}

	.commom-list-r {
		flex: 1;
		flex-shrink: none;
	}

	.commom-list-r>view:nth-of-type(1)>view:first-child {
		color: #999999;
		font-size: 30upx;
	}
		.commom-list-r>view:nth-of-type(1)>view:first-child>view:first-child{
			margin-right: 10upx;
		}
	.commom-list-r>view:nth-of-type(1)>view:last-child {
		background: #EEEEEE;
		font-size: 26upx;
		line-height: 26px;
		padding: 0upx 5upx;
		border-radius: 10upx;
	}

	.commom-list-r>view:nth-of-type(2) {
		font-size: 32upx;
		padding: 15upx 0;
	}

	.commom-list-r>view:nth-of-type(3) {
		position: relative;
		width: 100%;
	}

	.commom-list-play,
	.commom-list-playinfo {
		position: absolute;
	}

	.commom-list-r>view:nth-of-type(3)>image {
		width: 100%;
		border-radius: 10upx;
	}

	.commom-list-play {
		font-size: 130upx;
		color: #fff;
	}

	.commom-list-playinfo {
		position: absolute;
		bottom: 13upx;
		right: 10upx;
		padding: 3upx 10upx;
		border-radius: 5upx;
		background: rgba(0, 0, 0, 0.75);
		color: #fff;
	}

	.commom-list-r>view:nth-of-type(4)>view {
		color: #BBBBBB;
	}

	.commom-list-r>view:nth-of-type(4)>view:nth-of-type(2)>view {
		margin-left: 10upx;
		padding-left: 5upx;
	}

	.commom-list-share {
		background: #EEEEEE;
		padding: 20upx;
		width: 100%;
		/* flex: 1; */
		border-radius: 20upx;
	}

	.commom-list-share image {
		flex-shrink: none;
		width: 200upx;
		height: 150upx;
		border-radius: 5upx;
		margin-right: 18upx;
	}

	.commom-list-share view {
		flex-shrink: none;
		flex: 1;
	}